body {
    background-image: url(../images/3392075.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*  Text boxes  */

input[type=text] {
    border: none;
    font-size: larger;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    width: 100%;
}

input[type=password] {
    border: none;
    font-size: larger;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    width: 100%;
}

input[type=file] {
    border: none;
    font-size: larger;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    width: 100%;
}

input:focus {
    border: none;
    font-size: larger;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: transparent;
    width: 100%;
    outline: none;
}

/*  Buttons  */

.btn_sl_red {
    background-color: #ff0000;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn_sl_green {
    background-color: MediumSeaGreen;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn_sl_blue {
    background-color: DodgerBlue;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn_sl_yellow {
    background-color: #ffda00;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn_sl_black {
    background-color: black;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn_sl_gray {
    background-color: Gray;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*  Element boxes  */

.box_level_xs {
    padding-top: 0px;
    padding-right: 500px;
    padding-bottom: 0px;
    padding-left: 500px;
    align-content: center;
}

.box_level_s {
    padding-top: 0px;
    padding-right: 400px;
    padding-bottom: 0px;
    padding-left: 400px;
    align-content: center;
}

.box_level {
    padding-top: 0px;
    padding-right: 275px;
    padding-bottom: 0px;
    padding-left: 275px;
    align-content: center;
}

.box_level_xl{
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    align-content: center;
}

.box_level_free{
    padding-top: -5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    align-content: center;
}

/* Grid Boxes */

.grid_box{
    width: 100%;
    height: auto;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 4px #87ddff;
    margin: 0; 
    align-self: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

    .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column2 {
    float: left;
    width: 50%;
    align-content: center;
    text-align: center;
  }
  .column3 {
    float: left;
    width: 33.3%;
    align-content: center;
    text-align: center;
  }


  .edittable{
      width: 90%;
      align-content: center;
  }

  .aligncontentcenter{
      align-content: center;
  }