 /* Split the screen in half */
/* .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }*/
  
  /* Control the left side */
 /* .left {
    left: 350px;
  }*/
  
  /* Control the right side */
  /*.right {
    left: 700px;;
  }*/
  
  /* If you want the content centered horizontally and vertically */
 /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }*/
  
  /* Style the image inside the centered container, if needed */
 /* .centered img {
    width: 150px;
    border-radius: 50%;
  } */

    html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: rgb(48, 48, 48);
    }
   
    h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    }
    h2 {
    margin: 0 0 0 8px;
    }
    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5); 
    }

    .left-part {
    text-align: center;
    }

    .left-part, form {
      padding: 25px;
      }

    .fa-graduation-cap {
    font-size: 72px;
    }
    form {
    background: rgba(0, 0, 0, 0.7); 
    }
    .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    left: 700px;
    }
    .info {
    display: flex;
    flex-direction: column;
    }
    input {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(48, 48, 48);
    }
    input::placeholder {
    color: rgb(48, 48, 48);
    }

    .btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #009771; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: rgb(48, 48, 48);
    }
    .btn-item {
    display: inline-block;
    margin: 20px 5px 0;
    }
    button {
    width: 100%;
    }
    button:hover, .btn-item:hover {
    background: #85d6de;
    }
    @media (min-width: 568px) {

/*      html, body {
    height: 100%;
    }*/

    .main-block {
    flex-direction: row;
   /* height: calc(100% - 50px);*/
    }
    .left-part, form {
    flex: 1;
    height: auto;
    }

  }

  p,h4 {
    color:rgb(48, 48, 48);
  }

  .submit {
    width: 300px;
  }